<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <context:annotation-config/>
    <context:component-scan base-package="com.spring"/>
    <context:component-scan base-package="mx.com.adea.security.services"/>
        
    <context:component-scan base-package="com.adeamx.adeadms.daos">        
        <context:exclude-filter type="aspectj" expression="*..*BitacoraArchivosGral*"/>        
        <context:exclude-filter type="aspectj" expression="*..*FlowIngresosDetaMp*"/>        
        <context:exclude-filter type="aspectj" expression="*..*Generic*"/>        
        <context:exclude-filter type="aspectj" expression="*..*Util*"/>        
    </context:component-scan>
    
    <context:component-scan base-package="com.adeamx.dms.services">        
        <context:exclude-filter type="aspectj" expression="*..*Dms*"/>
        <context:exclude-filter type="aspectj" expression="*..*SC*"/>        
        <context:exclude-filter type="aspectj" expression="*..*Workflow*"/>
    </context:component-scan>
    
    <context:component-scan base-package="com.adeamx.adeadms.servicios">
        <context:exclude-filter type="aspectj" expression="*..*Bloqueo*"/>
        <context:exclude-filter type="aspectj" expression="*..*Catalogo*"/>
        <context:exclude-filter type="aspectj" expression="*..*Digitalizacion*"/>
        <context:exclude-filter type="aspectj" expression="*..*Imagen*"/>
        <context:exclude-filter type="aspectj" expression="*..*Ingreso*"/>
        <context:exclude-filter type="aspectj" expression="*..*Persona*"/>
        <context:exclude-filter type="aspectj" expression="*..*Ubicacion*"/>
    </context:component-scan>
       
    <jee:jndi-lookup jndi-name="jdbc/PRODCoreDS" id="dataSourceApplication"/>
       
   <!--
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/jdbc.properties"/>
    </bean>
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.databaseurl}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    -->
    
    <bean id="applicationSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSourceApplication"></property>
        <property name="packagesToScan">
            <list>                
                <value>com.spring.pojos</value>
                <value>com.adeadms.core.security.pojos</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                <![CDATA[
                        hibernate.show_sql=false
                        hibernate.format_sql=false
                        hibernate.dialect=org.hibernate.dialect.Oracle10gDialect
                        hibernate.bytecode.use_reflection_optimizer=true
                        hibernate.cache.provider_class=org.hibernate.cache.HashtableCacheProvider                                             
                        ]]>
            </value>
        </property>
    </bean>
    <!-- Transaccion Manager -->
    <bean id="applicationTransactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="applicationSessionFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="applicationTransactionManager"/>
    <!-- Definicion del tansaction manager-->
    <tx:advice id="txAdviceApplication" transaction-manager="applicationTransactionManager">
        <tx:attributes>
            <!-- all methods starting with 'get' are read-only -->
            <tx:method name="get*" read-only="true"/>
            <!-- other methods use the default transaction settings -->
            <tx:method name="*" rollback-for="Throwable" />
        </tx:attributes>
    </tx:advice>
    <!-- Configuracion del Transaction Manager -->
    <aop:config>
        <aop:pointcut id="configApplicationTransaccionManager" expression="execution(* *service*.*(..))"/>
        <aop:advisor pointcut-ref="configApplicationTransaccionManager" advice-ref="txAdviceApplication"/>
    </aop:config>
    <!-- Hibernate Template Defintion Anotations -->
    <bean id="applicationHibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="applicationSessionFactory" />
        <property name="jdbcExceptionTranslator" ref="jdbcExceptionTranslatorGral" />
    </bean>
    <alias name="applicationHibernateTemplate" alias="hibernateTemplate"/>
    <alias name="applicationHibernateTemplate" alias="templateCapturaGralAnnotations"/>    
    
    <!-- Spring Data Access Exception Translator Defintion -->
    <bean id="jdbcExceptionTranslatorGral" class="org.springframework.jdbc.support.SQLErrorCodeSQLExceptionTranslator">
        <property name="dataSource" ref="dataSourceApplication" />
    </bean> 
            
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/> 
        <property name="port" value="465"/> 
        <property name="protocol" value="smtps"/> 
        <property name="username" value="buzonadea1@adea.com.mx"/> 
        <property name="password" value="4de4MX2017$"/> 
        <property name="javaMailProperties"> 
            <props> 
                <prop key="mail.smtps.auth">true</prop>                 
                <prop key="mail.smtps.starttls.enable">true</prop> 
            </props> 
       </property>        
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager"/>
           
</beans>
